extends ../layouts/boilertemplate

block content
    .container-fluid
        .container
            a.mt-3.mb-3.btn.btn-primary(href="/farms/new") Add Farm
            .row
                each farm in farms 
                    .camp-container.d-flex.flex-column.justify-content-center.align-items-center.col.col-md-4.col.border.border-primary.rounded.py-5.px-0.h-100
                        h2= farm.name 
                        p= farm.city
                        p= farm.email
                        form(action="/farms/" + farm._id + "?_method=DELETE",method='post',id='delete-form') 
                            .btn-group
                                a.btn.btn-outline-primary(href="/farms/" + farm._id ) 
                                    .bi.bi-three-dots Details
                                a.btn.btn-outline-secondary(href="/farms/" + farm._id + "/edit") 
                                    .bi.bi-pencil-square Edit
                                button.btn.btn-outline-danger
                                    .bi.bi-trash Remove