footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.border-top.fixed-bottom.bg-dark(style='z-index: 999;')  
    a.mb-3.me-2.mb-md-0.text-muted.text-decoration-none.lh-1(href="/")
        svg.bi(width='30',height='30')
            use(xlink:href='.nav')
        span.text-muted.float-right TravelloG © 2021 Company, Inc
    .action-btn.flex-grow-1.d-flex.justify-content-end.align-items-center
        a.mx-2.btn.btn-primary(href="/campgrounds/new",style='z-index: 4;') 
           .bi.bi-plus-circle