.navbar.nav-expand-lg.nav-light.bg-dark.sticky-top
    .container-fluid
        a.navbar-brand(href='/campgrounds',style='color: white;')  Travel
            span.bg-light.text-black loG
        .user-container.d-flex.align-items-center
            if currentUser 
                p.m-0(style='color: white;')= currentUser.username
            form.mx-1(action='/logout')
                button.btn.btn-primary Logout
