section.hero.is-large.is-info(style='background: url("https://images.unsplash.com/photo-1553799262-a37c45961038?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80");')
    nav.level
      p.level-item.has-text-centered
        a.link.is-info Home
      p.level-item.has-text-centered
        a.link.is-info Menu
      p.level-item.has-text-centered(style='font-size: 50px;')  YourTravel
      p.level-item.has-text-centered
        a.link.is-info Reservations
      p.level-item.has-text-centered
        a.link.is-info Contact

    .hero-body
        p.title Large hero
        p.subtitleLarge subtitle
