html(lang="en")
    include ./commonTemplate/htmlHeader
    body 
        div.container-fluid
            form.row.g-3(action="/users/new", method="post")
                form.row.g-3
                    .col-md-6
                        label.form-label(for='inputEmail4', name='email') Email
                        input#inputEmail4.form-control(type='email',name='email')
                    .col-md-6
                        label.form-label(for='inputPassword4', name='password') Password
                        input#inputPassword4.form-control(type='password',name='password')
                    .col-md-6
                        label.form-label(for='inputEmail4', name='name') Name
                        input#inputEmail4.form-control(type='text', name='name')
                    .col-md-3
                        label.form-label(for='inputPassword4', ) Age
                        input#inputPassword4.form-control(type='number',name='age')
                    .col-md-3
                        label.form-label(for='inputPassword4', ) Gender
                        select#inputState.form-select(name='gender')
                            option(selected='')
                            option Male
                            option Female
                    .col-md-12
                        label.form-label(for='inputCity') City
                        input#inputCity.form-control(type='text', name='text')
            
                    .col-12
                        button.btn.btn-primary(type='submit') Create
